.nav-icons-img {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    -webkit-transition: all 700ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 700ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 700ms ease-in;
    -moz-transform: scale(1);
    transition: all 700ms ease-in;
    transform: scale(1);   
}

.nav-icons-img:hover {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}