

html, body {
    padding: 0px;
    margin: 0px;
    background-color: #86ABD8;
    color: white;
    /* font-family: 'Hanalei Fill', cursive; */
}

/* h1, h2, h3, h4, h5, h6 {
    font-family: 'Bigelow Rules', cursive;
} */

.headline {
    height: 100vh;
    background-image: url("../assets/2018-08-05_11.57.55.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
}

.headline-inner {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 20%;
    position: relative;
}

.wrapper {
    /* width: 80%; */
    margin-left: auto;
    margin-right: auto;
}

.welcome-inner {
    text-align: center;
}

.communication {
    height: 700px;
    background-image: url("../assets/2018-08-05_16.41.54.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.communitcaion-inner {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.communication-paths {
    display: flex;
    flex-direction: row;
    flex-wrap: row;
    justify-content: center;
}

.discord {
    margin: 0 10px;
}

.discord-inner h4 {
    text-align: center;
}

.telegram {
    margin: 0 10px;
}

.telegram-inner h4 {
    text-align: center;
}

.starting-material {
    display: flex;
    height: 700px;
    background-image: url("../assets/2018-08-05_16.34.42.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


.starting-material-inner {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.starting-material-text-inner {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.area {
    height: 700px;
    background-image: url("../assets/2018-08-05_16.42.19.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.area-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: row;
    justify-content: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.area-claim {
    max-width: 40%;
    margin: 0 10px;
}

.free-zone {
    max-width: 40%;
    margin: 0 10px;
}

.server-rules {
    display: flex;
    height: 700px;
    background-image: url("../assets/2018-08-05_17.07.43.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.server-rules-inner {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.server-rules-text-inner {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

footer {
    height: 50px;
}

.footer-inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: row;
    justify-content: center;
}

.contact {
    width: 10%;
}

.impressum {
    width: 10%;
}

.copyright p {
    margin: 0px;
}