/* @media screen and (max-width: 1600px) {
    .server-rules-inner {
        max-width: 80%;
    }
} */

@media screen and (max-width: 1440px) {
    .communitcaion-inner {
        max-width: 80%;
    }

    .area-inner { 
        max-width: 80%;
    }
    
    .server-rules {
        height: auto;
        padding: 60px 0;
    }

    .server-rules-inner {
        max-width: 80%;
    }

}

@media screen and (max-device-width: 600px) {
    .nav-icons-img {
        padding: 20px 20px;
    }

    /*
    .nav-icons img {
        width: 100px;
    } */

    .headline {
        height: auto;
    }

    .headline-inner {
        width: auto;
        top: 0%;
    }

    .communication {
        height: auto;
    }
    .communitcaion-inner {
        max-width: 100%;
        display: block;
    }
    .app-icons {
        font-size: 2em;
        padding: 0 10px;
    }
    .communication-paths {
        display: block;
    }

    .starting-material {
        height: auto;
        padding: 60px 0;
    }

    .starting-material-inner {
        max-width: 100%;
    }

    .area {
        height: auto;
    }

    .area-inner {
        max-width: 100%;
        display: block;
    }
    .area-claim {
        max-width: 100%;
    }

    .free-zone {
        max-width: 100%;
    }

    .server-rules {
        height: auto;
        padding: 60px 0;
    }

    .server-rules-inner {
        max-width: 100%;
    }

    .minecraft-pack-inner {
        max-width: 100%;
    }
}

@media screen and (max-device-width: 350px){

    .nav-icons-img {
        padding: 10px 30px;
    }

    .discord {
        margin: 0;
    }

    .app-icons a i{
        padding: 0 30px;
    }

    .server-rules-text-inner {
        padding: 0px;
    }
    .paypal-button-inner {
        width: 100%;
        text-align: center;
    }

    .minecraft-pack-inner {
        padding: 0;
    }
}